
.icon-location:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-shop:before { content: '\e803'; } /* '' */
.icon-food:before { content: '\e804'; } /* '' */
.icon-envios:before { content: '\e805'; } /* '' */
.icon-grupo:before { content: '\e806'; } /* '' */